@media screen and (max-width: 700px) {
    /* header .container {
        display: flex;
        flex-direction: column;
    } */

    /* responsive drop-down menu */
    nav a {
        display: none;
    }

    nav a.icon{
        float: right;
        display: block;
    }

    .menu.responsive {
        position: absolute;
        right: 5px;
        top: 40px;
        background-color: rgba(0,0,0,.7);
    }
    
    .menu.responsive a{
        float: none;
        display: block;
        text-align: center;
        padding: 14px 40px;
        margin: 0;
    }

    .button {
        margin-top: 5px;
        width: 250px;
    }
}

@media screen and (min-width: 1000px) {
    .description {
        width: 50%;
    }
}